@tailwind base;
@tailwind components;
@tailwind utilities;

/* 在这里可以添加你自己的全局基础样式 */
/* 例如: */
/*
body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*/
